<section class="py-8">
  <div class="max-w-[1100px] mx-auto px-4">
    <div class="grid lg:grid-cols-2 items-center gap-7">
      <div class="italic">
        <p>
          At <b>Lucky Ticket</b> , we are passionate about creating exceptional travel experiences that inspire, delight and leave lasting memories.
        </p>
        <p class="mt-3">
          As travel specialists, we strive to <b>provide you with unique and unforgettable trips</b> , designed to meet your desires and exceed your expectations.
        </p>
      </div>
      <div>
        <img src="./img/mainPage/slide3.jpeg" alt="img">
      </div>
    </div>

    <div class="grid lg:grid-cols-2 items-center gap-7 mt-5">
      <div>
        <img src="./img/mainPage/about2.webp" alt="img">
      </div>
      <div class="italic text-right">
        <p>
          At <b>Lucky Ticket</b> we do everything we can to offer you trips that will allow you to live authentic and enriching experiences, whether through a luxury cruise in the Mediterranean or a weekend attending the final of the
        </p>
        <p>
          Euro <b>2024</b> in Berlin.
        </p>
      </div>
    </div>
  </div>
</section>