<section class="py-8">
  <div class="max-w-[1100px] mx-auto px-4">
    <p>
      Welcome to Lucky Ticket, operated by TRAVEL MEDIA LTD. Our Acceptable Use Policy outlines the rules for using our website, www.winyourtravel.com. This policy applies to all users and visitors to our site.
      <br>
      <br>
      By accessing or using our site, you agree to abide by this policy, which supplements our terms of use.
      <br>
      <br>
      Prohibited Activities:
      <br>
      <br>
      You may only use our site for legal purposes. Prohibited activities include:
      <br>
      <br>
      Violating any local, national, or international laws or regulations.
      Engaging in illegal or fraudulent activities.
      Harming minors in any way.
      Sending or receiving unauthorized advertising or spam.
      Transmitting harmful computer code or viruses.
      Reproducing or reselling any part of our site without authorization.
      Interfering with the operation of our site or any third-party networks.
      Interactive Services:
      <br>
      <br>
      We offer interactive services like games, competitions, and social media interactions. We'll provide clear information about these services, including any moderation in place.
      <br>
      <br>
      While we try to assess and mitigate risks, we're not obligated to monitor every interaction. Parents should supervise minors using interactive services.
      <br>
      <br>
      Content Standards:
      <br>
      <br>
      Contributions to our site must be accurate, respectful, and comply with the law. They must not:
      <br>
      <br>
      Defame or harass others.
      Include offensive or discriminatory content.
      Promotes violence or illegal activities.
      Infringe on copyright or trademarks.
      Deceive or impersonate others.
      Consequences of Breach:
      <br>
      <br>
      If you violate this policy, we may take various actions, including restricting your access to the site, removing your content, or legal action.
      <br>
      <br>
      We reserve the right to update this policy, so please check regularly for changes.
      <br>
      <br>
      Please note that this policy may be supplemented by other notices on our website.
    </p>
  </div>
</section>