<section class="py-8">
  <div class="max-w-[1100px] mx-auto px-4">
    <h2>
      **Cancellation policy**
    </h2>
    <p  class="mt-4">
      For <b>Travel Media LTD</b> trading as Win Your Travel, our returns policy is as follows:
    </p>
    <p  class="mt-4">
      1. **Due to the nature of the competitions, <b>Lucky Ticket</b> has a no-return and no-refund policy. Once an entry has been submitted and payment has been made, it is considered final and cannot be canceled, refunded or returned for any reason.
    </p>
    <p class="mt-4">
      2. **If any information or components are missing, please contact our customer service at contact@winyourtravel.com. We will investigate the problem and offer a solution which may include a replacement or refund, at our discretion.
    </p>
    <p class="mt-4">
      Please note that this policy does not affect your statutory rights as a consumer under applicable law.
    </p>
  </div>
</section>