<section class="py-8">
  <div class="max-w-[1100px] mx-auto px-4">
    <h2 class="text-center md:text-[40px] font-semibold text-xl md:!leading-[52px]">
      JOIN US IN OUR COMMITMENT TO MAKING THE WORLD A BETTER PLACE, ONE JOURNEY AT A TIME.
    </h2>
    <div class="flex justify-center">
      <img src="./img/mainPage/superhero.webp" alt="img">
    </div>
    <p class="mt-3">
      Every purchase counts. With 5% of each gain, we transform every trip into help for those who need it most. By participating in our competitions, you become a superhero for those who need help. Together, we make a real difference in the world, one positive action at a time.
    </p>
  </div>
</section>