<section class="py-8">
  <div class="max-w-[1100px] mx-auto px-4">
    <div class="grid lg:grid-cols-2 gap-7">
      <div>
        <p class="font-semibold text-xl" style="color:red;">
          We donate 5% of all our winnings...
        </p>
        <h2 class="text-[27px] font-medium">
          We are proud to dedicate a significant portion of every ticket sold to supporting charitable causes.
        </h2>
        <p>
          At <b>Lucky Ticket</b>, we believe in the power of making a difference in the lives of others. That's why we're committed to actively supporting causes that matter. Each ticket purchased is more than a chance to win a dream trip; <b>This is why we are proud to support the Association  Les Restaurants du Cœur by donating 5% of all our winnings.</b>  Every time you participate in one of our competitions, you <b>are also helping to help those who need it most.</b>
        </p>
      </div>
      <div>
        <img src="./img/mainPage/coeur.jpeg" alt="img" class="rounded-[30px]">
      </div>
    </div>
  </div>
</section>