<section
    id="hero"
    class="pb-8"
>
    <div class="container">
        <div class="grid md:grid-cols-2 gap-5 mt-10">
            <div>
                <div class="relative">
                    <a href="">
                        <img class="w-full h-full object-cover" style="aspect-ratio: 1 / 0.7" src="./img/mainPage/1.png" alt="Hero bg" />
                    </a>


                    <div class="flex absolute bottom-[-40px] right-0">
                        <a href="">
                            <img class="w-[52px]" src="./img/svg/buy.svg" alt="Hero bg" />
                        </a>
                        <a href="">
                            <img class="w-[52px]" src="./img/svg/view.svg" alt="Hero bg" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <p class="font-bold mt-5">20 USDT</p>
                    <p class="font-bold mt-3">Weekend in Berlin for the Euro 2024 Final for 2</p>
                    <p class="font-bold mt-3" style="color: red">1000 TICKETS MAXIMUM</p>
                </div>
                <div class="flex justify-center items-center gap-4 mt-5 font-bold">
                    <div class="flex flex-col justify-center items-center">
                        <span class="md:text-2xl text-xl" style="color: silver">00</span>
                        <span class="text-xs md:text-base">Days</span>
                    </div>
                    <div class="md:text-4xl text-2xl">:</div>
                    <div class="flex flex-col justify-center items-center">
                        <span class="md:text-2xl text-xl" style="color: silver">00</span>
                        <span class="text-xs md:text-base">Hours</span>
                    </div>
                    <div class="md:text-4xl text-2xl">:</div>
                    <div class="flex flex-col justify-center items-center">
                        <span class="md:text-2xl text-xl" style="color: silver">00</span>
                        <span class="text-xs md:text-base">Minutes</span>
                    </div>
                    <div class="md:text-4xl text-2xl">:</div>
                    <div class="flex flex-col justify-center items-center">
                        <span class="md:text-2xl text-xl" style="color: silver">00</span>
                        <span class="text-xs md:text-base">Seconds</span>
                    </div>
                </div>

                <div class="flex justify-center mt-5">
                    <a href="" class="text-white bg-[#2F7238] px-5 py-2 rounded-[10px]">
                        I WANT TO PARTICIPATE
                    </a>
                </div>
            </div>

            <div>
                <div class="relative">
                    <a href="">
                        <img class="w-full h-full" style="aspect-ratio: 1 / 0.7" src="./img/mainPage/2.png" alt="" />
                    </a>


                    <div class="flex absolute bottom-[-40px] right-0">
                        <a href="">
                            <img class="w-[52px]" src="./img/svg/buy.svg" alt="Hero bg" />
                        </a>
                        <a href="">
                            <img class="w-[52px]" src="./img/svg/view.svg" alt="Hero bg" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <p class="font-bold mt-5">20 USDT</p>
                    <p class="font-bold mt-3">Weekend in Berlin for the Euro 2024 Final for 2</p>
                    <p class="font-bold mt-3" style="color: red">1000 TICKETS MAXIMUM</p>
                </div>
                <div class="flex justify-center items-center gap-4 mt-5 font-bold">
                    <div class="flex flex-col justify-center items-center">
                        <span class="md:text-2xl text-xl" style="color: silver">00</span>
                        <span class="text-xs md:text-base">Days</span>
                    </div>
                    <div class="md:text-4xl text-2xl">:</div>
                    <div class="flex flex-col justify-center items-center">
                        <span class="md:text-2xl text-xl" style="color: silver">00</span>
                        <span class="text-xs md:text-base">Hours</span>
                    </div>
                    <div class="md:text-4xl text-2xl">:</div>
                    <div class="flex flex-col justify-center items-center">
                        <span class="md:text-2xl text-xl" style="color: silver">00</span>
                        <span class="text-xs md:text-base">Minutes</span>
                    </div>
                    <div class="md:text-4xl text-2xl">:</div>
                    <div class="flex flex-col justify-center items-center">
                        <span class="md:text-2xl text-xl" style="color: silver">00</span>
                        <span class="text-xs md:text-base">Seconds</span>
                    </div>
                </div>

                <div class="flex justify-center mt-5">
                    <a href="" class="text-white bg-[#2F7238] px-5 py-2 rounded-[10px]">
                        I WANT TO PARTICIPATE
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
