<section class="py-8">
  <img class="w-full h-full object-cover" src="./img/mainPage/banner.png" alt="banner" />
  <div class="max-w-[1100px] mx-auto px-4 text-center">
    <div class="mt-10">
      <p style="color: rgb(95, 213, 183)">
        WIN A MAGNIFICENT TRIP
      </p>
      <h2 class="mt-3 font-bold md:text-5xl text-3xl">
        HOW TO PARTICIPATE ?
      </h2>
      <p class="mt-3">
        Do you dream of escape without borders? With WinYourTravel, participating is as simple as it is exciting. Follow these key steps and you just might jet off to your dream destination!
      </p>
    </div>

    <div class="swiper px-4 mt-10 !overflow-visible" x-data="sliderSwiper('support')">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="flex items-center flex-col gap-4">
            <div class="mb-5">
              <p class="text-red-600">STEP 1</p>
              <p class="text-xs">CHOOSE</p>
            </div>
            <div>
              <img src="./img/svg/list-icon1.svg" alt="icon">
            </div>
            <h3 class="mt-5 font-bold text-2xl">
              CHOOSE
            </h3>
            <p>
              Select your dream destination from our extensive travel catalog. Choose the adventure or adventures that inspire you the most!
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex items-center flex-col gap-4">
            <div class="mb-5">
              <p class="text-red-600">2ND STEP</p>
              <p class="text-xs">PARTICIPATE</p>
            </div>
            <div>
              <img src="./img/svg/list-icon2.svg" alt="icon">
            </div>
            <h3 class="mt-5 font-bold text-2xl">
              PARTICIPATE
            </h3>
            <p>
              To enter the competition, buy your ticket on our site. Each ticket is your passport to possible victory!
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex items-center flex-col gap-4">
            <div class="mb-5">
              <p class="text-red-600">STEP 3</p>
              <p class="text-xs">EARN</p>
            </div>
            <div>
              <img src="./img/svg/list-icon3.svg" alt="icon">
            </div>
            <h3 class="mt-5 font-bold text-2xl">
              EARN
            </h3>
            <p>
              Stay tuned for the draw! You could be the lucky winner of an unforgettable trip. Good luck!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>