<section class="py-8">
  <img class="w-full h-full object-cover" src="./img/mainPage/5.png" alt="banner" />
  <div class="max-w-[1100px] mx-auto px-4 text-center">
    <ul class="flex flex-col md:flex-row gap-5 justify-center mt-10">
      <li class="flex flex-col justify-center items-center">
        <div>
          <img src="./img/svg/list-icon1.svg" alt="icon">
        </div>
        <h3 class="mt-5 font-bold text-2xl">
          CHOOSE
        </h3>
        <p>
          Choose the number of tickets you want
          (up to 50 per user) and get ready to win a
          wonderful stay.
        </p>
      </li>

      <li class="flex flex-col justify-center items-center">
        <div>
          <img src="./img/svg/list-icon2.svg" alt="icon">
        </div>
        <h3 class="mt-5 font-bold text-2xl">
          PARTICIPATE
        </h3>
        <p>
          Test your travel expertise with
          <b>our online game</b>
          , carefully designed to distinguish
          true connoisseurs from mere admirers.
        </p>
      </li>

      <li class="flex flex-col justify-center items-center">
        <div>
          <img src="./img/svg/list-icon3.svg" alt="icon">
        </div>
        <h3 class="mt-5 font-bold text-2xl">
          EARN
        </h3>
        <p>
          That's all we can say about it! With a
          minimum entry of just £25, you could be
          the lucky winner of a unique and
          unforgettable trip.
        </p>
      </li>
    </ul>

    <div class="flex justify-center mt-10">
      <a href="" class="text-white bg-[#2F7238] px-5 py-2 rounded-[10px]">
        PARTICIPATE NOW
      </a>
    </div>
  </div>
</section>