<section class="py-8">
  <img class="w-full h-full object-cover" src="./img/mainPage/4.png" alt="banner" />
  <div class="max-w-[1100px] mx-auto px-4 text-center">
    <h2 class="font-bold mt-5 md:text-4xl text-2xl" style="color:silver;">
      Join our winners!
    </h2>
    <p class="mt-5 font-bold">
      Discover our lucky winners!
    </p>
    <p class="mt-5">
      Join our community of passionate travelers and be one of the lucky ones to win luxury stays around the world.
    </p>
  </div>
</section>