<style>
  #country {
    background: url("../img/mainPage/section-bg.png") center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<section id="country" class="py-[150px]">
  <div class="container">
    <p>
      Start Traveling
    </p>
    <h2 class="text-4xl lg:text-6xl font-bold">
      Participate Now
    </h2>
    <p class="text-[#339E35] font-bold text-xl lg:text-2xl">
      Book Your Adventure
    </p>
    <p>
      Reserve your spot in the next draw now and start planning your next dream getaway!
    </p>
    <div class="flex gap-10 mt-5">
      <div class="text-[#1A5AFF] flex flex-col items-center justify-center text-center gap-4">
        <p class="text-2xl font-bold">230+</p>
        <p>Happy Winners</p>
      </div>
      <div class="text-[#1A5AFF] flex flex-col items-center justify-center text-center gap-4">
        <p class="text-2xl font-bold">100%</p>
        <p>Satisfied Customers</p>
      </div>
    </div>
  </div>
</section>