<section
  id="product"
  class="pb-8"
>
  <div class="w-full bg-black text-center py-3 px-4 mb-5">
    <p class="text-white">
      Reserve your spot in the next draw now and start planning your next dream getaway!
    </p>
  </div>
  <div class="container">
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-7">
      <div>
        <div class="swiper px-4" x-data="sliderSwiper('mainSlider')">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/mainPage/1.png" alt="1">
            </div>
            <div class="swiper-slide">
              <img src="./img/mainPage/prod2.jpg" alt="2">
            </div>
            <div class="swiper-slide">
              <img src="./img/mainPage/prod3.jpeg" alt="3">
            </div>
          </div>
        </div>

        <div class="swiper px-4 mt-5" x-data="sliderSwiper('mainSliderModal')">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/mainPage/1.png" alt="1">
            </div>
            <div class="swiper-slide">
              <img src="./img/mainPage/prod2.jpg" alt="2">
            </div>
            <div class="swiper-slide">
              <img src="./img/mainPage/prod3.jpeg" alt="3">
            </div>
          </div>
        </div>

        <p class="mt-5">
          Your chance to <b>become a part of football history!</b> Enter our exciting giveaway and win two tickets to the final of the 2024 UEFA European Football Championship. It's not just an opportunity to cheer for your favorite team at the most prestigious stadium, but also to immerse yourself in the atmosphere of the football festival of our time. <b>The prize also includes flights and accommodation in a hotel</b>, ensuring you an unforgettable and comfortable experience.
        </p>
        <p>
          Join us and add a dose of emotions and excitement that only the UEFA Euro final can bring into your life. Don't miss your chance to be part of this football celebration and create memories for a lifetime. <b>Enter now, and you could be the lucky winner of these incredible tickets!</b>
        </p>
      </div>

      <div>
        <h2 class="text-[#0E6AB8] font font-bold text-xl">
          Weekend in Berlin for the Euro 2024 Final for 2
        </h2>
        <p class="mt-1 text-2xl text-[#468A27] font-bold">
          20 USDT
        </p>
        <p class="text-[#B3AF54]">Lottery Started</p>
        <p class="mt-3"><b>Competition ends:</b> 06/30/2024 3:00 p.m.</p>
        <p class="mt-3 text-[#468A27]">Time remaining until end:</p>
        <div class="flex justify-center items-center gap-4 mt-5 font-bold">
          <div class="flex flex-col justify-center items-center">
            <span class="md:text-2xl text-xl" style="color: silver">00</span>
            <span class="text-xs md:text-base">Days</span>
          </div>
          <div class="md:text-4xl text-2xl">:</div>
          <div class="flex flex-col justify-center items-center">
            <span class="md:text-2xl text-xl" style="color: silver">00</span>
            <span class="text-xs md:text-base">Hours</span>
          </div>
          <div class="md:text-4xl text-2xl">:</div>
          <div class="flex flex-col justify-center items-center">
            <span class="md:text-2xl text-xl" style="color: silver">00</span>
            <span class="text-xs md:text-base">Minutes</span>
          </div>
          <div class="md:text-4xl text-2xl">:</div>
          <div class="flex flex-col justify-center items-center">
            <span class="md:text-2xl text-xl" style="color: silver">00</span>
            <span class="text-xs md:text-base">Seconds</span>
          </div>
        </div>

        <p class="mt-3">
          Winner will get the Products mentioned in
          nuits-en-mediterranee/
        </p>
        <div class="flex relative justify-between mt-3">
          <p>0</p>
          <p>Tickets sold: 149</p>
          <p>1000</p>
          <div class="absolute px-2 top-[5px] left-[11.9%] rounded-t-[5px] text-white text-sm flex justify-center items-center" style="background: red">
            14.9%
          </div>
        </div>
        <div class="h-[15px] w-full bg-[#DDDDDD]">
          <div class="h-[15px] w-[14.9%] bg-[#00CC00]"></div>
        </div>
        <p>This lottery will have <b>1</b> winners</p>

        <div class="flex justify-center lg:justify-start">
          <a href="" class="bg-[#50BE8F] rounded-[5px] text-white font-bold px-5 py-2 inline-flex mt-10">
            Participate now to 20.00 USDT
          </a>
        </div>
        <div class="mt-3">
          <img src="./img/mainPage/logo2.png" alt="logo2" class="max-w-[200px]">
        </div>
        <div class="mt-3">
          <img src="./img/mainPage/pay.png" alt="pay" class="max-w-[200px]">
        </div>
      </div>
    </div>
  </div>
</section>

