<section  class="py-8">
  <div class="lg:max-w-[1100px] mx-auto">
    <div class="swiper px-4" x-data="sliderSwiper('support')">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="flex items-center gap-4">
              <div>
                <img src="./img/svg/support1.svg" alt="icon">
              </div>
              <div>
                <h3 class="font-bold">Secure participation</h3>
                <p style="color:silver;">100% Secure</p>
              </div>
            </div>
          </div>
        <div class="swiper-slide">
          <div class="flex items-center gap-4">
            <div>
              <img src="./img/svg/support2.svg" alt="icon">
            </div>
            <div>
              <h3 class="font-bold">24/7 Participant Services</h3>
              <p style="color:silver;">We are here for you</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="flex items-center gap-4">
            <div>
              <img src="./img/svg/support3.svg" alt="icon">
            </div>
            <div>
              <h3 class="font-bold">Secure Draw</h3>
              <p style="color:silver;">Guaranteed by our partners</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>