<section class="py-8">
  <div class="max-w-[1100px] mx-auto px-4">
    <div class="grid md:grid-cols-2 gap-5">
      <h1 class="md:text-5xl text-3xl font-bold" style="text-shadow: #FC0 1px 0 10px;">
        OUR GOAL IS FOR <br>
        EVERYONE TO WIN <br>
        THE TRIP OF THEIR
        DREAMS.
      </h1>
      <div>
        <p>
          <b>At Lucky Ticket</b>, we are passionate about creating
          exceptional travel experiences that inspire, delight and
          leave lasting memories.
        </p>
        <p class="mt-3">
          <b>Get ready for the adventure of a lifetime</b> by joining <span style="color:red;">our competition</span>
          – it’s your chance to break the routine and
          discover new horizons!.
        </p>
      </div>
    </div>
  </div>
</section>