<section class="py-8">
  <div class="max-w-[1100px] mx-auto px-4">
    <div class="grid lg:grid-cols-2 gap-7">
      <div>
        <p class="font-semibold text-xl">
          Join us in our quest to make your dream trip a reality.
        </p>
        <h2 class="text-5xl font-medium">
         Lucky Ticket
        </h2>
        <p class="mt-4">
          At <b>Lucky Ticket</b>, we believe that every individual deserves to make their travel dreams come true. Our mission is to make these dreams accessible and achievable for everyone, by providing unique opportunities for exceptional travel around the world. We are passionate about creating exceptional travel experiences that inspire, delight and leave lasting memories. As travel specialists, we strive to provide you with unique and unforgettable trips, designed to meet your desires and exceed your expectations.
        </p>
      </div>
      <div>
        <img src="./img/mainPage/scaled.jpg" alt="img">
      </div>
    </div>
  </div>
</section>