<section class="py-8">
  <div class="max-w-[1100px] mx-auto px-4">
    <div class="grid lg:grid-cols-2 gap-7">
      <div>
        <img src="./img/mainPage/982.jpeg" alt="img">
      </div>
      <div>
        <h2 class="text-[27px] font-medium">
          An opportunity to create lasting memories and magical moments.
        </h2>
        <p class="italic">
          We aspire to be the trusted partner for everyone who desires unforgettable travel experiences. By uniting passion, innovation and commitment, we aim to become the global leader in travel competitions and extraordinary vacation experiences.
        </p>
      </div>
    </div>
  </div>
</section>