<section class="py-8">
  <div class="max-w-[1100px] mx-auto px-4">
    <div>
      <img src="./img/mainPage/croisiere_gen-2.webp" alt="img">
    </div>
    <div class="grid lg:grid-cols-2 gap-7 mt-10">
      <div>
        <h2 class="text-4xl font-bold">
          HOW TO ENTER THE COMPETITION
        </h2>
      </div>
      <div>
        <p>
          At <b>Lucky Ticket</b>, we do everything we can to offer you trips that will allow you to live authentic and enriching experiences, whether through a luxury cruise in the Mediterranean or a weekend attending the final of the Euro 2024 in Berlin.
        </p>
      </div>
    </div>
    <div class="flex justify-center mt-10">
      <a href="./product-collection.html" class="text-white bg-[#2F7238] px-5 py-2 rounded-[10px]">
        JOIN THE COMPETITION
      </a>
    </div>
  </div>
</section>