<!-- HEADER -->
<header
        id="header"
        class=""
>
    <div class="max-w-[900px] mx-auto px-4 flex items-center justify-between gap-5 py-2">
        <div>
            <a href="./index.html">
                <img class="md:max-w-[121px] max-w-[250px]" src="./img/mainPage/logo.png" alt="logo">
            </a>
        </div>
        
        <ul class="hidden md:flex gap-7">
            <li>
                <a href="./index.html">Welcome</a>
            </li>
            <li>
                <a href="./how-to-participate.html">How to participate</a>
            </li>
            <li>
                <a href="">Winners</a>
            </li>
            <li>
                <a href="./commitment.html">Commitment</a>
            </li>
            <li>
                <a href="./about-us.html">About Us</a>
            </li>
        </ul>
    </div>
</header>
