<!-- HEADER -->
<header
        id="header"
        class=""
>
    <div class="max-w-[900px] mx-auto px-4 flex items-center justify-between gap-5 h-[70px]">
        <a class="max-w-[121px]" href="">
            <img src="./img/mainPage/logo.png" alt="logo">
        </a>
        
        <ul class="hidden md:flex gap-7">
            <li>
                <a href="">Welcome</a>
            </li>
            <li>
                <a href="">How to participate</a>
            </li>
            <li>
                <a href="">Winners</a>
            </li>
            <li>
                <a href="">Commitment</a>
            </li>
            <li>
                <a href="">About Us</a>
            </li>
        </ul>
    </div>
</header>
