<article
        x-cloak
        id="mobile-menu"
        x-show="$store.mobileMenu.visible"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="translate-x-3/4"
        x-transition:enter-end="translate-x-0"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="translate-x-0"
        x-transition:leave-end="translate-x-3/4"
        class="absolute top-0 right-0 flex h-full w-full touch-none flex-col items-start justify-start bg-white md:hidden"
>
 <button type="button" @click="$store.mobileMenu.hide()">X</button>
</article>