<section
  id="hero"
  class="pb-8"
>
  <div class="container">
    <div class="grid md:grid-cols-2 gap-5 mt-10">
      <div>
        <div class="relative">
          <a href="./10-night-mediterranean-cruise.html">
            <img class="w-full h-full" style="aspect-ratio: 1 / 0.7" src="./img/mainPage/8.png" alt="" />
          </a>


          <div class="flex absolute bottom-[-40px] right-0">
            <a href="./10-night-mediterranean-cruise.html">
              <img class="w-[52px]" src="./img/svg/buy.svg" alt="buy" />
            </a>
            <a href="./10-night-mediterranean-cruise.html">
              <img class="w-[52px]" src="./img/svg/view.svg" alt="view" />
            </a>
            <a href="./10-night-mediterranean-cruise.html">
              <img class="w-[52px]" src="./img/svg/link.svg" alt="link" />
            </a>
          </div>
        </div>
        <div class="text-center">
          <p class="font-bold mt-5">20 USDT</p>
          <p class="font-bold mt-3">10-Night Mediterranean Cruise for 2</p>
        </div>
      </div>

      <div>
        <div class="relative">
          <a href="./weekend-in-berlin-for-the-euro-2024.html">
            <img class="w-full h-full object-cover" style="aspect-ratio: 1 / 0.7" src="./img/mainPage/1.png" alt="Hero bg" />
          </a>


          <div class="flex absolute bottom-[-40px] right-0">
            <a href="./weekend-in-berlin-for-the-euro-2024.html">
              <img class="w-[52px]" src="./img/svg/buy.svg" alt="buy" />
            </a>
            <a href="./weekend-in-berlin-for-the-euro-2024.html">
              <img class="w-[52px]" src="./img/svg/view.svg" alt="view" />
            </a>
            <a href="./weekend-in-berlin-for-the-euro-2024.html">
              <img class="w-[52px]" src="./img/svg/link.svg" alt="link" />
            </a>
          </div>
        </div>
        <div class="text-center">
          <p class="font-bold mt-5">20 USDT</p>
          <p class="font-bold mt-3">Weekend in Berlin for the Euro 2024 Final for 2</p>
        </div>
      </div>
    </div>
  </div>
</section>
